/* ---CSS GENERAL--- */
* {
    margin: 0;
    padding: 0;
    border: 0;
}
@font-face {
    font-family: 'Darker Grotesque';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/darkergrotesque/v2/U9MH6cuh-mLQlC4BKCtayOfARkSVq7HUJA.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
    font-family: 'Darker Grotesque';
    font-style: normal;
    font-weight: 900;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/darkergrotesque/v2/U9MA6cuh-mLQlC4BKCtayOfARkSVozLzMWgrTQ.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
    font-family: 'Darker Grotesque';
    font-style: normal;
    font-weight: 800;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/darkergrotesque/v2/U9MA6cuh-mLQlC4BKCtayOfARkSVoxbyMWgrTQ.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/nunitosans/v6/pe0qMImSLYBIv1o4X1M8cce9I9s.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/nunitosans/v6/pe03MImSLYBIv1o4X1M8cc8GBs5tU1E.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 800;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/nunitosans/v6/pe03MImSLYBIv1o4X1M8cc8aBc5tU1E.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* ---NAVBAR--- */
.header {
    font-family: 'Nunito Sans';
    font-style: normal;
    justify-content: space-around;
    border-bottom: 1px solid #CFD3D8;
    background-color: white;
}
.logo {
    width: 10rem;
    padding: 1% 0;
}
.icon {
    background-image:url("/assets/toggler-icon.svg");
    display: inline-block;
    width: 0.8em;
    height: 0.8em;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}
.icon-change{
    background-image:url("/assets/toggler-icon-x.svg");
    background-repeat: no-repeat;
    width: 0.7em;
}
.menu {
    flex-grow: 0;
}
.link {
    color: #212429;
    font-weight: 700;
}
.link:focus, .link:hover {
    color: #19C1CE;
}
.dropdown-menu-2.show {
    display:flex;
    flex-direction: row;
    left: -300% !important;
}
.dropdown-menu-2.show li {
    padding: 1rem;
}
.title-dropdown-menu-2 {
    color: #19C1CE;
    font-weight: 800;
}
.item-dropdown-menu-2 {
    flex-direction: column;
    color: #212429;
}
.button{
    color: #212429;
    text-align: center;
    font-weight: 800;
}
.button-1 {
    height: 39px;
    width: 94px;
    background-color: #fff;
    border-style: solid;
    border-width: 2px;
    border-bottom-width: 5px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    margin-right: 10px;
    text-transform: uppercase;
    font-weight: 800;
}
.button-2 {
    height: 40px;
    width: 122px;
    background-color: #19C1CE;
    border-style: solid;
    border-bottom-width: 5px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    text-transform: uppercase;
    font-weight: 800;
}

.item-list {
    padding-right: 2rem;
}

/* ---FIRST SECTION--- */
.section-1 {
    background: linear-gradient(25deg, rgba(241,243,245,1) 70%, rgba(255,255,255,1) 70%);
    padding: 200px 732px 200px 108px;
    top: 50px;
    height: 650px;
}

.section-1-title {
    font-family: Darker Grotesque;
    font-weight: 900;
    line-height: 100%;
}
.section-1-title span {
    color: #19C1CE;
}
.section-1-text {
    font-family: Nunito Sans;
    padding-top: 20px;
}

/* ---SECOND SECTION FORM--- */
.section-2 {
    position: absolute;
    width: 496px;
    height: 1050px;
    top: 120px;
    left: 836px;
    margin-right: 108px;
    box-shadow: 0px 4px 12px rgba(33, 36, 41, 0.14);
    border-radius: 2px;
    background-color: #fff;
}
.title-box {
    border-bottom: 1px solid #CFD3D8;
}
.title-section-2 {
    font-family: Darker Grotesque;
    font-weight: 800;
    text-align: center;
}
.text-section-2 {
    font-weight: 400;
    text-align: center;
    color: #7E8A98;
}
.form-box {
    font-family: Nunito Sans;
}
.label {
    font-weight: bold;
}
.field {
    border: 2px solid #000000;
    border-radius: 0;
    box-shadow: inset 6px 6px 0px #EEFBFB;
    background-color: white;
}
.password {
    display: flex;
    flex-direction: row;
    position: relative;
}
.eye {
    position: absolute;
    left: 93%;
    top: 30%
}
.radio:checked {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='2' fill='000000'/%3e%3c/svg%3e") !important;
    background-color: #19C1CE;
    border-color: #19C1CE;
}
.text-form {
    font-size: 12px;
    color: #7E8A98;
    border: 1px solid #19C1CE;
}
.text-form a {
    color: #19C1CE;
}
.create-account {
    background-color: #F2BF4E;
    text-transform: uppercase;
    color: #212429;
    font-family: Nunito Sans;
    font-weight: 800;
    border-style: solid;
    border-bottom-width: 5px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

/* ---THIRD SECTION--- */
.section-3 {
    height: 331px;
    background: linear-gradient(-45deg, rgba(11,72,91,1) 95%, rgba(241,243,245,1) 95%);
    top: 700px;
    margin-top: 0px;
    color: white;
}
.box-section-3 {
    padding: 80px 732px 80px 108px;
    height: 171px;
}
.box-section-3 h5 {
    font-family: Darker Grotesque;
    font-weight: 900;
    font-size: 2rem;
    width: 600px;
}
.box-section-3 p {
    font-family: Nunito Sans;
    line-height: 150%;
    font-size: 16px;
    width: 600px;
}

/* ---FOURTH SECTION--- */
.section-4 {
    background: linear-gradient(-140deg, rgba(241,243,245,1) 70%, rgba(255,255,255,1) 70%, rgba(255,255,255,1) 70%);
    height: 902px;
    display: flex;
    justify-content:center;
    align-items: center;
}
.section-4 img {
    color: linear-gradient(45deg, rgba(241,243,245,0) 90%, rgba(255,255,255,1) 90%);
    width: 600px;
    margin-left: 108px;
    margin-right: 108px;
    margin-top: 222px;
}
.box-section-4 {
    margin-top: 130px;
    margin-right: 108px;
    height: 528px;
}
.box-section-4 h5 {
    font-family: Darker Grotesque;
    font-weight: 900;
    font-size: 32px;
    line-height: 110%;
}
.box-section-4 p {
    font-family: Nunito Sans;
    font-size: 18px;
    color: #212429;
}
.box-section-4 li {
    font-family: Nunito Sans;
    font-size: 16px;
    padding-left: 8px;
    list-style-image: url("/assets/check-mark.svg");
}

/* ---FIFTH SECTION--- */
.section-5 {
    display: flex;
    flex-direction: column;
}
.box-cards {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin: 64px 0;
}
.section-5 h5 {
    font-family: Darker Grotesque;
    font-weight: 900;
    font-size: 40px;
    line-height: 100%;
    width: 600px;
    margin-left: 108px;
    margin-top: 120px;
}
.card {
    width: 392px;
    box-shadow: 0px 4px 12px rgba(33, 36, 41, 0.14);
    border-radius: 2px;
}
.box-img {
    background-color: #F1F3F5;
    border-radius: 50%;
    width: 64px;
    height: 64px;
    display: flex;
    justify-content: center;
}
.card-img {
    width: 32px;
}
.card-title {
    font-family: Darker Grotesque;
    font-weight: 900;
    font-size: 32px;
    line-height: 110%;
}
.card-text {
    font-family: Nunito Sans;
    font-size: 16px;
    line-height: 150%;
}

/* ---RESPONSIVE--- */
@media (max-width:768px) {

    /* --NAVBAR-- */
    .header {
        padding-bottom: 0;
    }
    .list {
        border-style: solid;
        border-top-width: 1px;
        border-bottom-width: 1px;
        border-color: #CFD3D8;
        padding: 1.5rem 1rem;
        margin-top: 0.5rem;
    }
    .item-list {
        border-style: solid;
        border-bottom-width: 1px;
        border-color: #CFD3D8;
        padding: 0;
    }
    .item-list-menu-5 {
        border: none;
    }
    .dropdown-menu-2.show {
        flex-direction: column;
        font-size: 14px;
        border-style: none;
    }
    .dropdown-menu-2.show li {
        padding: 0;
    }
    .button {
        background-color: #F1F3F5;
        width: 100%;
        padding: 2rem;
    }

    /* --FIRST SECTION-- */
    .section-1 {
        background: linear-gradient(25deg, rgba(241,243,245,1) 95%, rgba(255,255,255,1) 95%);
        padding: 5rem 1rem;
        height: 1590px;
    }
    .section-1-title {
        font-size: 40px;
    }

    /* --SECOND SECTION FORM-- */
    .section-2 {
        top: 400px;
        width: 90%;
        Height: 1119px;
        left: 0;
        margin: 1rem;
    }
    .eye {
        left: 90%;
    }

    /* --THIRD SECTION-- */
    .box-section-3 {
        padding: 0;
    }
    .box-section-3 h5 {
        width: 100%;
        padding: 48px 16px 0 16px;
        font-size: 24px;
    }
    .box-section-3 p {
        width: 100%;
        padding: 0 16px;
    }

    /* --FOURTH SECTION-- */
    .section-4 {
        flex-direction: column-reverse;
        width: 100%;
        top: 2000px;
    }
    .box-section-4 {
        width: 100%;
        margin: 0;
        padding: 100px 16px;
    }
    .section-4 img {
        width: 90%;
    }
    .box-section-4 h5 {
        font-size: 24px;
        width: 100%;
        margin: 0;
    }
    .box-section-4 p {
        font-size: 14px;
    }

    /* --FIFITH SECTION-- */
    .section-5 h5 {
        font-size: 30px;
        width: 90%;
        margin: 120px 0px 0px 16px;
    }
    .card {
        width: 90%;
    }
}
